h2{
    color: rgb(255, 145, 0);
    margin-left: 100px;
}

.img-thumbnail{
    height: 200px;  
    width: 150px;
}
hr{
    border-top: 2px solid #000;
}

#collapsibleNavbar{
    margin-left: 100px;
}

#newsBtn, #categoryBtn, #aboutBtn{
    color: rgb(255, 145, 0);
}


#userInfoSection{
    height: 40px;
}
#userAvatar{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
#userSection{
    display: flex;
    flex-direction: row;
    margin-left: 50px;

}
#username{
    height: 16px;
    color: rgb(255, 145, 0);
    font-size: 1em;
    margin: 0px;
}

#status{
    height: 12px;
    color: white;
    font-size: 12px;
    margin: 0px;
    margin-top: 5px;
}



/* search */


.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 30px;
    width: 200px;
    background-color: #353b48;
    border-radius: 30px;
    
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    /* height: 40px; */
    width: 100px;
}

#search_icon_btn{
    margin-left: 5px;
}
.btn{
    height: 30px;
    border-radius: 30px;
    color: rgb(255, 145, 0);
}

.search_icon{

    color: #e74c3c;
}
.search_icon:hover{
    
}
.search_icon{
    height: 30px;
    width: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}