:root{
    --main_color: #FF4E00; 
}

html,body{
    background-color: #575555;
    color: white;
}
h2{
    color: var(--main_color);
    margin-left: 100px;
}
h3{
    color: var(--main_color);
}
a{
    color: white
}
.img-thumbnail{
    height: 200px;  
    width: 150px;
}
hr{
    border-top: 2px solid #000;
}

#collapsibleNavbar{
    margin-left: 100px;
}

#newsBtn, #categoryBtn, #aboutBtn{
    color: var(--main_color);
}


#userInfoSection{
    height: 40px;
}
#userAvatar{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
#userSection{
    display: flex;
    flex-direction: row;
    margin-left: 50px;

}
#username{
    height: 16px;
    color:var(--main_color);
    font-size: 1em;
    margin: 0px;
}

#status{
    height: 12px;
    color: white;
    font-size: 12px;
    margin: 0px;
    margin-top: 5px;
}


/* nav */
.navbar{
    background-color: #212121;
}

/* search */


.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 30px;
    width: 200px;
    background-color: #000000;
    border-radius: 30px;
    
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    /* height: 40px; */
    width: 100px;
}

#search_icon_btn{
    margin-left: 5px;
}
.btn{
    height: 30px;
    border-radius: 30px;
    color: var(--main_color);
}

.search_icon:hover{
    
}
.search_icon{
    height: 30px;
    width: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}