.maintitle {
    color: #FF4E00 !important;
    margin-bottom: 15px !important;
}

.poster {
	width: 110px !important;
	height: 150px;
}

.playscreen {
	width: 650px;
    height: 381px;
    border-style: ridge;
    border-color: white;
}

.movies {
	margin-bottom: 15px;
}

.review {
	margin-left: 10px;
}

.upnext {
	background-color: #4D4B4B;
	padding-top: 5px;
}

p {
	margin-bottom: 5px !important;
	color: white;
}

h5 {
	margin-bottom: 5px !important;
	color: white !important;
}

.newsposter {
	widows: 200px;
	height: 140px;
}

.news {
	margin-bottom: 15px;
}

.body{
    background-color: #575555;
}

.newsarea{
    margin-top: 20px;
}